nav ul {
    list-style: none;
}
nav ul ul {
    position : absolute;
    padding : 0;
    display : none;
}
nav ul li {
    float : left;
    padding : 5px;
}
nav ul li:hover{
    background-color: #f6f6f6;
}
nav ul li ul li{
    float : none;
}
nav ul li:hover>ul{
    display: block;
    background-color: #ffffff;
}